<div class="col-md-6 col-sm-12">
    <table class="table table-responsive table-hover" id="data_table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Surname</th>
            <th>City</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody *ngFor="let item of contacts">
            <tr (click)="onSelect(item)">
                <td></td>
                <td></td>
                <td>{{item.name}}</td>
                <td>{{item.surname | uppercasetr}}</td>
                <td>{{item.city}}</td>
                <td>{{item.phone}}</td>
            </tr>
        </tbody>
    </table>
</div>