/* ----------------------------------------------- */
/* Basic Setup */
/* ----------------------------------------------- */

html{
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

/* ----------------------------------------------- */
/* Contact Form */
/* ----------------------------------------------- */
.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid[required] {
    border-left: 5px solid #a94442; /* red */
}

/* ----------------------------------------------- */
/* Contact Table */
/* ----------------------------------------------- */

