/* ----------------------------------------------- */
/* Basic Setup */
/* ----------------------------------------------- */

html{
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

/* ----------------------------------------------- */
/* Nav Setup */
/* ----------------------------------------------- */

nav{
    float: right;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 14px;
}
nav li a:link,
nav li a:visited{
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

nav li a:hover,
nav li a:active{
    border-bottom:2px solid #e67e22;
}
/* ----------------------------------------------- */
/* Contact Form */
/* ----------------------------------------------- */
.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid[required] {
    border-left: 5px solid #a94442; /* red */
}

/* ----------------------------------------------- */
/* Contact Table */
/* ----------------------------------------------- */

